@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Outdoor Partikkels</h1>
    <p class="lead"></p>
    <p><a href="../LVS_Table_final/" class="btn btn-primary btn-lg">Partikkels</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>